@import "../../assets/fonts/index.scss";
@import "../../assets/colors/index.scss";    
@import "../../assets/styles/index.scss";  

.exchange-request {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: 100%;

    &-bottom-recieved{
      display: flex;
      flex-direction: row !important;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      gap: 10px;
      height: 100%;
      // position: absolute;
      bottom: 20px;

      &-button--canceled {
        @include invertedButton();
        border: 1px solid $danger;
        color: $danger;
        margin: 0 0 20px;
      }

      &-button--accept {
        @include button();
        width: 40%;
        margin: 0 0 20px;
      }

      &-button--reject {
        @include invertedButton();
        width: 40%;
        border: 1px solid $danger;
        color: $danger;
        margin: 0 0 20px;
      }
    }

    &-user {
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      width: 90%;
      padding: 5px;
      height: max-content;
      border-bottom: 1px;

      &-text {
        font-size: 16px;
        color: $darkGrey;
        margin-bottom: 20px;
      }
    }

    &-message {
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      width: 90%;
      padding: 5px;
      height: max-content;
      border-bottom: 1px;

      &-text {
        font-size: 16px;
        color: $darkGrey;
        margin-bottom: 10px;
      }

      &-info {
        font-size: 12px;
        color: $dark;
      }
    }

    &-description {
      display: flex;
      flex-direction: column;
      margin-top: 10%;
      width: 90%;
      padding: 5px;
      height: max-content;
      border-bottom: 1px;

      &-text {
        font-size: 16px;
        color: $darkGrey;
      }

      &-info {
        font-size: 14px;
        color: $dark;
        margin-top: 10px;
      }
    }
  }

  &__state {
    margin-top: $marginTop;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-status {
      font-weight: bold;
      font-size: 20px;
      color: $pending;
      margin: 0 0 20px 0;
    }
  }
}

@media (max-width: 600px) {
  .exchange-request {
    &__state {
      // margin-top: 15%;
    }
  }
}