@import "../../assets/fonts/index.scss";
@import "../../assets/colors/index.scss";
@import "../../assets/styles/index.scss";

.inventory {
    display: flex;
    &__body {
        margin: 10% 0 0 0;
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;

        &-item {
            margin-top: 20px;
        }
    }
}

@media (max-width: 600px) {
    .inventory {
      &__body {
        margin: 15% 0 0 0;
      }
    }
  }
  