@import "../../assets/fonts/index.scss";
@import "../../assets/colors/index.scss";
@import "../../assets/styles/index.scss";

.product {
  overflow-y: hidden;
  height: 100%;
  display: flex;
  // align-items: center;
  justify-content: center;

  &__body {
    margin-top: $marginTop;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;

    &-info {
      display: flex;
      align-items: center;

      &-image {
        width: 32px;
        height: 32px;
        border-radius: 32px;
      }

      &-name {
        font-size: 15px;
        font-weight: 500;
        margin: 0 0 0 10px;
      }
    }

    &-data {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-title {
        margin: 14px 0 7px;
        font-size: 18px;
      }

      &-image {
        width: 100%;
        height: 182px;
        box-shadow: $boxShadow;
        border-radius: 5px;
      }

      &-description {
        display: flex;
        flex-direction: column;
        margin: 22px 0 0 0;
        width: 300px;
        min-height: 83px;
        border-bottom: 1px solid $grey;
        overflow-wrap: break-word;

        &-info {
          font-size: 14px;
          font-weight: 400;
        }

        &-tag {
          padding-bottom: 5px;
        }

        &-zona {
          margin-top: 6%;
        }

        &-tipo {
          margin-top: 6%;
        }

        &-cantidad {
          margin-top: 6%;
        }
      }
    }
  }

  &-button {
    background-color: $primary;
    width: 80%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 0;
    color: $white;
    border-radius: 5px;
    font-family: $Montserrat;
    font-weight: 300;
    margin: 0 0 10px;
    

    &-box {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }
}
