@import "../../assets/fonts/index.scss";
@import "../../assets/colors/index.scss";
@import "../../assets/styles/index.scss";

.add-item-button {
    @include button;
    position: fixed;
    right: 5px;
    bottom: 5px;
    height: max-content;
    padding: 10px;
    width: max-content;
    font-size: 16px;
    z-index: 3;
    background-color: $darkPrimary;
}