@import "../../assets/fonts/index.scss";
@import "../../assets/colors/index.scss";

.exchange-window {
    width: 90%;
    // height: 20%;
    background-color: $white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-shadow: $boxShadow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__object {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $darkGrey;
        font-weight: 300;
        font-size: 14px;
        width: 40%;

        &-image {
            width: 107px;
            border-radius: 5px;
            height: 91px;
        }

        &-profile-image {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            position: absolute;
            margin-top: 115px;
        }

        &-text {
            width: 100%;
            height: 20%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}