@import "../../assets/fonts/index.scss";
@import "../../assets/colors/index.scss";
@import "../../assets/styles/index.scss";

.inventory {
    display: flex;
    &__body {
        margin: 72px 0 0 23px;
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        width: 100%;

        &-item {
            margin-top: 20px;
        }
    }

    &-button {
        @include button;
        position: fixed;
        right: 5px;
        bottom: 5px;
        height: 41px;
        width: 143px;
        font-size: 16px;
        background-color: $darkPrimary;
    }
}