@import "../../assets/fonts/index.scss";
@import "../../assets/colors/index.scss";
@import "../../assets/styles/index.scss";

.exchange {
  overflow-y: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__arrow-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0px;

    &-arrow {
      transform: rotate(90deg);
      width: 36px;
      height: 36px;
    }
  }

  &__my-item {
    &-button {
      @include button;
      margin: 18px 0 0;
      width: 174.45px;
      height: 34px;
      font-size: 14px;
    }

    &-data {
      &-title {
        width: 100%;
        margin-bottom: 7px;
      }
    }

    &-box {
      width: 70%;
      max-width: 449px;
      display: flex;
      border-radius: 5px;
      align-items: center;
      flex-direction: column;
    }

    &-edit {
      display: flex;
      max-width: 449px;
      width: 70%;
      justify-content: flex-end;
      margin-top: 5px;
      cursor: pointer;

    }

    &-text {
      width: 180px;
      font-size: 14px;
      text-align: center;
    }
  }

  &__body {
    margin: $marginTop 0 0 0;
    height: max-content;
    display: flex;
    max-width: 449px;
    width: 70%;
    flex-direction: column;

    &-info {
      display: flex;
      align-items: center;

      &-image {
        width: 32px;
        height: 32px;
        border-radius: 32px;
      }

      &-name {
        font-size: 16px;
        font-weight: 500;
        margin: 0 0 0 10px;
      }
    }

    &-data {
      display: flex;
      flex-direction: column;

      &-title {
        margin: 14px 0 7px;
      }

      &-image {
        width: 100%;
        max-width: 449px;
        height: 182px;
        box-shadow: $boxShadow;
        border-radius: 5px;
      }

      &-description {
        display: flex;
        flex-direction: column;
        margin: 22px 0 0 0;
        width: 300px;
        height: 83px;
        border-bottom: 1px solid $grey;

        &-zona {
          margin-top: 10px;
        }

        &-tipo {
          margin-top: 10px;
        }

        &-cantidad {
          margin-top: 10px;
        }
      }
    }
  }

  &-button {
    @include button;

    &-box {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
    }

    &-display {
      &--confirm {
        @include button;
        width: 141px
      }

      &--cancel {
        @include button;
        width: 141px;
        background-color: $white;
        color: $primary;
        border: 1px solid $primary;
      }
    }

    &--cancel {
      @include button;
      background-color: $white;
      color: $primary;
      border: 1px solid $primary;
    }
  }
}