@import "../../assets/fonts/index.scss";
@import "../../assets/colors/index.scss";
@import "../../assets/styles/index.scss";

.profile {
  overflow-y: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-edit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;

    &-button {
      @include button;
      margin: 0;
      height: 24px;
      font-size: 14px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding-top: 15px;

    &-exchange {
      text-align: start;
      font-weight: 600;
      margin: 0 0 0 15px;
    }

    &-box {
      display: flex;
      flex-direction: row;
      margin: 15px 0 0 0;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__body {
    margin: $marginTop 0 0 0;
    height: max-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

    &-data {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      margin: 26px 0 0 0;

      &-item {
        min-width: 31%;
        min-height: 50px;
        flex-direction: column;
        display: flex;

        &--small {
          min-width: 30%;
          min-height: 50px;
          flex-direction: column;
          display: flex;
          margin: 0 -7% 0 -8%;
        }

        &--expand {
          min-width: 30%;
          min-height: 50px;
          flex-direction: column;
          display: flex;
        }

        &-text {
          min-height: 20px;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-image {
        width: 72px;
        height: 72px;
        border-radius: 72px;
      }

      &-name {
        margin: 13px 0 0;
      }
    }
  }
}

.card {
  margin-top: 15px;
}

