@import '../../assets/fonts/index.scss';
@import '../../assets/colors/index.scss';

.sign-in {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title-text {
        font-size: 32px;
        width: max-content;
        font-weight: 600;
        margin-bottom: 84px;
    }
    

    &__input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__button {
        background: #2DA15F;
        border-radius: 10px;
        border: 0;
        color: #fff;
        width: 253px;
        height: 52px;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.4px;
        margin: 20px 0 0;
        cursor: pointer;
    }

    &__input {
        width: 255px;
        height: 61px;
        padding: 0 2px 0 10px;
        border-radius: 0 10px 10px 0;
        border: 0;
        outline: none;
        font-size: 16px;
    }

    &__message {
        color: #666666;
        font-size: 11px;
        margin-top: 53px;
    
        &-green {
            color: #188266;
            font-weight: 600;
            cursor: pointer;
        }
    }
    
    &__input-w-icon {
        width: 90%;
        height: 61px;
        background-color: $background;
        border-bottom: 1px solid $grey;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
    }
}

.input-icon {
    width: 40px;
}

::placeholder {
    color: #686868;
    font-size: 16px;
    font-family: $Montserrat;
}

.blink {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        border-bottom: 1px solid $grey;
    }
    50% {
        border-bottom: 1px solid $danger;
    }
    100% {
        border-bottom: 1px solid $grey;
    }

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 31px $background inset !important;
}