
$primary: #2DA15F;
$darkPrimary: #017260;
$secondary: #003855;
$lightSecondary: #00494A;
$background: #F6F6F6;
$dark: #323338;
$grey: #C5C7D0;
$darkGrey: #8E9297;
$white: #FFFFFF;
$success: #4CAF50;
$successLight: #CCFF90;
$danger: #AF4C4C;
$dangerLight: #FF9090;
$pending: #F6C824;
$pendingLight: #F1FF51;
$whatsapp: #00E676;
$boxShadow:  drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
