@import './assets/fonts/index.scss';
@import './assets/styles/index.scss';
@import './assets/colors/index.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
  width: 100vw;
  height: 100vh;
  font-family: $Montserrat;
  overflow-x: hidden;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  object-fit: cover;
}

#root {
  width: 100%;
  height: 100vh;

}

@media (max-width: 768px) {
  #root {
    height: calc(var(--vh, 1vh) * 100);
  }
}
