@import "../../assets/fonts/index.scss";
@import "../../assets/colors/index.scss";
@import "../../assets/styles/index.scss";

.visualize-exchange {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    max-width: 400px;
    margin-top: $marginTop;

    &-bottom {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 10px;
      flex-direction: row;
      width: 100%;
      height: 100%;
      // position: absolute;
      bottom: 20px;

      &-button--cancel {
        @include invertedButton();
        // border: 1px solid $danger;
        // color: $danger;
        width: 45%;
        margin: 0 0 20px;

      }

      &-button--accepted {
        @include invertedButton();
        // border: 1px solid $whatsapp;
        background-color: $primary;
        color: $white;
        width: 45%;
        margin: 0 0 20px;
      }

      &-button--rejected {
        @include button();
        margin: 0 0 20px;
      }
    }

    &-user {
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      width: 90%;
      padding: 5px;
      height: max-content;
      border-bottom: 1px;

      &-text {
        font-size: 16px;
        color: $darkGrey;
        margin-bottom: 20px;
      }
    }

    &-message {
      @include input;
      width: 100%;
      overflow: auto;
      height: auto;
      font-size: 16px;

      &-box {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 90%;
        padding: 5px;
        height: 100px;
        border-bottom: 1px;

        &-text {
          font-size: 16px;
          color: $darkGrey;
          margin-bottom: 10px;
        }

        &-info {
          font-size: 12px;
          color: $dark;
        }
      }
    }

    &-description {
      display: flex;
      flex-direction: column;
      margin-top: 15%;
      width: 90%;
      padding: 5px;
      height: max-content;
      border-bottom: 1px;

      &-text {
        font-size: 16px;
        color: $darkGrey;
      }

      &-info {
        font-size: 14px;
        color: $dark;
        margin-top: 10px;
      }
    }


    &__state {
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-status {
        font-weight: bold;
        font-size: 20px;
        color: $pending;
        margin: 0 0 20px 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .visualize-exchange {
    &__state {
      margin-top: 15%;
    }
  }
}